# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfplan
.terraform.lock.hcl
*.auto.tfvars

# Credentials & Secrets
*.pem
*.key
*.json
!package.json
!code/**/*.json
!grafana-dashboards/*.json
.env
.env.*

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Kubernetes
kubeconfig
*.kubeconfig
.iml